//content grid begins

div.content_products_wrapper
    div.cars_type_1
      each item in cars1
         div.product
             div.img 
                img(src="images/auto2.png")
             div.title= item   
div.content_products_wrapper
    div.cars_type_2
      each item in cars2
         div.product
             div.img 
                img(src="images/auto2.png")
             div.title= item     
div.content_products_wrapper
    div.cars_type_3
      each item in cars3
         div.product
             div.img 
                img(src="images/auto2.png")
             div.title= item     
div.content_products_wrapper
    div.cars_type_4
      each item in cars4
         div.product
             div.img 
                img(src="images/auto2.png")
             div.title= item     
div.content_products_wrapper
    div.cars_type_5
      each item in cars5
         div.product
             div.img 
                img(src="images/auto2.png")
             div.title= item        
         
 


//content grid ends