// profile garage begins
div.content.profile
    div.wrapper
        h1.big_h.pad Личный кабинет
        div.profile_content
            +profile_menu(1)
            div.profile_tab_content.garage
                div.top_title.pad
                    div.big_h Мой гараж
                div.select_auto.pad
                    select
                        option Auto 1
                        option Auto 2
                    div.button.add_auto Добавить авто
                    div.button.edit_auto
                    div.images
                        img(src="images/garage_side.png")
                        img(src="images/garage_front.png")
                div.search_info В каталоге есть <span class="amount">349</span> запчастей, которые подходят для выбранной модификации <span class="auto_model">Audi A1</span>.
                div.search_params
                    -for(var i =0; i< 5; i++)
                        div.search_param!= page_garage_search_item[i]
                div.search_result
                div.modal_window.modal_profile
                    div.modal_content
                        div.close
                        div.top_nav
                            h3.mid_h Добавление авто
                            ul.modal_steps
                                -var k = 0
                                -var steps = ['Год выпуска', 'Выберите марку', 'Выберите модель', 'Двигатель'] 
                                each item in steps 
                                    li(data-profile-modal-tab= k++)= item
                        div.modal_tab.years(data-profile-modal-tab="0")
                            -for( var i = 2010; i > 1970; i-= 10)
                                div.years_row 
                                    div.decade= i + "-е"                                    
                                    ul.single_year 
                                        -for( var j = 10; j > 0; j--)
                                            li(data-main= i+j)= i+j
                        div.modal_tab.mark(data-profile-modal-tab="1")
                             ul.sort_az 
                                -  
                                    var az_list = ["a","b","c","d","e","f","g","h","i","j","k","l","m","n","o","p","q","r","s","t","u","v","w","x","y","z"]
                                each az_item in az_list
                                    li(data-sort= az_item).sort_az_letter
                                        a(href="")= az_item 
                             div.list
                                 each item in cars1
                                     div.product(data-main="setBackend") 
                                         div.img 
                                            img(src="images/auto2.png")
                                         div.title= item   
                        div.modal_tab.model(data-profile-modal-tab="2")
                            -for (var i = 0; i < 5; i++)
                                div.single_result
                                    h3.small_h ALFA ROMEO 145
                                    p.title Выберите модель
                                    div.img
                                        img(src="images/auto1.png")
                                    div.model_choosing 
                                        div.models_wrapper
                                            div.model(data-main="setBackend") 
                                                span  123-345-18
                                            div.model(data-main="setBackend") 
                                                span  123-345-25
                                            div.model(data-main="setBackend")  
                                                span  123-345-40
                            div.single_result
                                    h3.small_h ALFA ROMEO 145
                                    p.title Выберите модель
                                    div.img
                                        img(src="images/auto1.png")
                                    div.model_choosing 
                                        div.models_wrapper
                                            div.model(data-main="setBackend")  
                                                span 123-345-18
               
                        
                        div.modal_tab.motors(data-profile-modal-tab="3")
                            div.motors_wrapper
                                div.result_list_headers
                                    each item in motor_garage
                                        div.table_header= item
                                - for (var i = 0; i < 8; i++)
                                  div.result_list_row(data-main="setBackend")     
                                        div.table_value(data-value="motor") 1.4
                                        div.table_value(data-value="year") 01/11
                                        div.table_value(data-value="motor_kpd") 135/99
                                        div.table_value(data-value="fuel_type") Бензин
                                        div.table_value(data-value="mix") 1368
                                        div.table_value(data-value="motor_code") 312 А1.000
                                        div.table_value(data-value="cycles_amount") 4 
                        div.modal_tab.confirm_choosing(data-profile-modal-tab="4")
                            h4.small_h Подтвердите выбор:
                            div.confirm_auto
                                div.img
                                    img(src="../images/auto1.png")
                                div.info
                                    p.title ALFA ROMEO 145
                                    p.model 146 (930) 1994-2001
                                div.button.confirm Добавить в мой гараж
                                
                            

                                
// profile garage ends